*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Open,sans-serif;
    background-color: #1a191f;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1% 1%;
    height: auto;
}
.header_logo{
    color: #fff;
    outline: none;
    text-decoration: none;
    font-size: 32px;
}
.header_search{
    height: 100%;
    border-radius: 5px;
}
.header_search::-webkit-input-placeholder {
    padding: 20px;
}
.container{
    padding: 20px 150px;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 80px;
}
.movie{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.movie_cover-inner{
    max-width: 100%;
}
.movie_cover{
    max-width: 100%;
    height: auto;
}
.description{
    padding-top: 0.5rem;
}
.description > h4{
    color: #fff;
    font-size: 18px;
}
.description >p{
    color: yellow;
    font-size: 14px;
}
.rating{
    background-color: #1a191f;
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 5px 4px;
    border-radius: 50%;
    border: 2px solid green;
    position: absolute;
    margin: 10px;
}