*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Open,sans-serif;
    background-color: #1a191f;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1% 1%;
    height: auto;
}
.header_logo{
    color: #fff;
    outline: none;
    text-decoration: none;
    font-size: 32px;
}
.header_search{
    height: 100%;
    border-radius: 5px;
}
.header_search::-webkit-input-placeholder {
    padding: 20px;
}
.container{
    padding: 20px 150px;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 80px;
}
.movie{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.movie_cover-inner{
    max-width: 100%;
}
.movie_cover{
    max-width: 100%;
    height: auto;
}
.movie_cover:hover {
    border: 3px solid #fff;
}
.description{
    padding-top: 0.5rem;
    max-width: 100%;
}
.description > h4{
    color: #fff;
    font-size: 18px;
}
.description >p{
    color: yellow;
    font-size: 14px;
}
.rating{
    background-color: #1a191f;
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 5px 4px;
    border-radius: 50%;
    border: 2px solid green;
    position: absolute;
    margin: 10px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
    transition: width 2s;
}
.modal--show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalCard{
    color: #fff;
    max-width: 600px;
    padding: 16px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    background-color: #1a191f;
    display: flex;
    flex-direction: column;
}
.modalImg{
    width: 250px;
    margin: 0 auto;
}
.modalDescription>h3{
    font-size: 18px;
    padding-top: 10px;
}
.modalDescription{
    margin-left: 20px;
    font-size: 14px;
}
ul li{
    padding: 5px;
}
.modal_button_close{
    padding: 5px;
    margin:10px;
    align-self: center;
}